    
    body {
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        font-size: 2em;
    }

    #bannerContainerDiv {
        margin: 15px;
        height: 300px;
        background-image: url("table.jpg");
    }

    #map {
        margin: 15px;
        width: 100% - 15px;
        height: 320px;
    }

    #image {
        width: 200px;
        height:200px;
        display: inline-block;
        margin-left: 5px;
        margin-top: 10px;
    }

          #descriptionBox {
            color: white;
            margin-top: 10px;
            width: 1170px;
            height: 125px;
            display: inline-block;
            background-color: rgba(0,100,0,0.8);
            vertical-align: top;
          }

          #detailBox{
            width: 1000px;
            height: 330px;
            display: flex;
            margin-left: 200px;
            padding:  15px;
            text-align: center;
            background-color: darkgreen;
          }

          #openBox {
            width: 500px;
            border: 2px solid black;
            border-right: 0px;
            display: inline-block;
            background-color: darkred;
          }

          #contactBox {
            /*display: flex;*/
            display: inline-block;
            flex: 1;
            text-align: center;
            border: 2px solid black;
            background-color: darkred;
          }

          #reviewBox {
            width: 340px;
            height: 200px;
          }

          #bookingButton {
            width: 100px;
            height: 35px;
          }

          #ntdButtons {
            width: 300px;
            height: 51px;
          }

          #backgroundDiv {
            margin: 15px;
            background-color: darkgreen;
          }

          #reviewDiv {

            text-align: center;
          }

          #insideDiv{
            background-color: darkred;
            margin: 15px;
          }

          #bookingDiv{
            text-align: center;
          }