* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

  html, body {
    height: 100%;
    position: relative;
  }

  body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/23298a55526729.5988857400116.jpg");
    background-size: cover;
  }

  h1 {
    font-size: 2em;
  }
#form {
    width: 90%;
    max-width: 700px;
    margin: auto;
    padding: 0.6em;
    background-color: #e6e6e6;
    position: relative;
}

.field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3em 1.25em;
}

.field p {
    font-size: 0.9em;
}

.field > p {
    font-size: 1em;
}

.field input, .field textarea {
    padding: 0.3em;
    font-size: 0.9em;
    background-color: #f2f2f2;
    border: 1px solid gray;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cost {
    width: 40%;
}

#daysopen {
    width: 60%;
}

#times {
    width: 65%;
}

#times div {
    display: flex;
    align-items: center;
}

#times div p {
    margin-right: 1.25em;
    width: 50%;
}

#times div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.125em 0;
}

.checkbox div {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.field input[type="text"], .field input[type="number"], .field input[type="file"], .field textarea {
    width: 20em;
}

.field textarea {
    height: 7.5em;
}

#form button {
    width: 10em;
    height: 2em;
    margin: auto;
    margin-top: 0.6em;
    display: block;
    text-align: center;
    background-color: #0da100;
    color: #f2f2f2;
    border: 1px solid black;
    cursor: pointer;
    font-size: 1em;
}

#form button:hover {
    background-color: #10bd00;
    color: white;
}
#logoImage{
    margin-top: -20px;
    width:100px;
    height:100px;
    float:left
  }

#create, #login {
  width: 20%;
  max-width: 100px;
  float: right;
  margin: 0.3em 0.3em 0 0;
  border-radius: 0.3em;
  }

#create, #login {
    height: 35px;
    line-height: 35px;
    font-size: 1em;
}

#create, #login, #search button, #filter {
    text-align: center;
    background-color: #0da100;
    color: #f2f2f2;
    border: 1px solid black;
    cursor: pointer;
}

#create:hover, #login:hover, #search button:hover, #filter:hover {
    background-color: #10bd00;
    color: white;
}